/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


h1 {
  color: #469AE0;
  font-weight: bold;
}

table {

  th {
    padding: 10px;
  }

  td {
    padding: 10px;
  }
}


